// Code landing page styles
.library-links {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.library-links li {
  width: 22%;
}
.library-links li a {
  display: block;
  text-align: center;
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
}
.library-links li a:hover {
  color: #2370a0;
}
.library-links img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  transition: all 0.15s linear;
}
.library-links a:hover img {
  border-color: #08c;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.news-date {
  margin: 0 0 0.5rem 0;
  color: #888;
}

// Lectures langing page
.home-blurb {
	display: flex;
	//align-items: center;
	padding:0rem 0rem;
}
.home-blurb .desc {
	font-size: 1.1rem;
	line-height: 1.5;
}

.home-series {
	padding: 0 0 2rem 0;
}
.home-series ul {
	list-style: none;
	padding:0;
	margin:0 0;
}
.home-series li {
	padding:0;
	margin:1rem 1rem;
}
.home-series li a {
	display: block;
	color: #23262c;
	border:1px solid #ddd;
	border-radius: 5px;
	padding:1rem 25px 1rem 75px;
	position: relative;
	text-decoration: none;
}
.home-series li a:hover {
    /* border-color: #23262c; */
    border-color: #ccc;
	text-decoration: none;
	background: #f0f0f0;

	/* background:#23262c;
	color:#fff; */
}
.home-series li a:hover p {
	/* color: #eee; */
}
.home-series li a .icon {
	position: absolute;
	left:25px;
	top:1.2rem;
	color: #23262c;
}
.home-series li a .icon img {
    width:32px;
}
.home-series li a .icon_book {
	position: absolute;
	left:15px;
	top:1.5rem;
	color: #23262c;
}
.home-series li a .icon_book img {
    width:50px;
}
.home-series li a h3 {
	line-height: 1.2;
	margin:0;
	font-size: 1.2rem;
}
.home-series li a p {
	margin:10px 0 0 0;
	color: #444;
}

@media only screen and (max-width: 768px) {
	.home-blurb {
		display: block;
	}
}