---
layout: default
---

{{ content }}

{% assign all_books = site.projects | where: 'type', 'book' | sort: 'order' %}

<ul class="row projects projects-container books-listing">

  {% for project in all_books %}
    <li class="projects-item">
      <a target="_blank" href="{{ project.link }}">
        <div class="project d-flex flex-column align-items-start">
          {% if project.category == 'quantecon' %}
          <div class="book-watermark-wrap">
            <img class="book-watermark" src="/assets/img/qe-logo-small.png" alt="QuantEcon logo">
          </div>
          {% endif %}
          <div class="item-info d-flex">
            <div class="item-pic-books"><img src="/assets/img/books/{{ project.image }}"></div>
            <div class="item-title">
              <h3 class="name">{{ project.name }}{% if project.new %} <span class="badge-new">NEW</span>{% endif %}</h3>
              {% if project.authors %}<p class="book-authors">{{ project.authors }}</p>{% endif %}
			  <div class="item-desc">
				{{ project.description | markdownify }}
			  </div>
		    </div>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}

</ul>
