---
layout: default
---

{{ content }}

<ul class="row projects projects-container">

  {% assign sorted_projects = site.projects | where: 'type', 'book' %}

  {% for project in sorted_projects reversed %}
    <li class="projects-item">
      <a target="_blank" href="{{ project.link }}">
        <div class="project d-flex flex-column align-items-start">
          <div class="item-info d-flex">
            <div class="item-pic"><img src="/assets/img/books/{{ project.image }}"></div>
            <div class="item-title">
              <h3 class="name">{{ project.name }}</h3>
				<div class="item-desc">
					{{ project.description | markdownify }}
				</div>
			</div>
        </div>
      </a>
    </li>
  {% endfor %}

</ul>