{% if page.title %}
{% assign page_title = page.title | append: " &ndash; " | append: site.title %}
{% else %}
{% assign page_title = site.title %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', '{{ site.google_analytics }}');
  </script>

  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="QuantEcon">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@quantecon">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="@quantecon">
  <meta name="twitter:image" content="https://assets.quantecon.org/img/qe-twitter-logo.png">
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta property="og:image" content="https://assets.quantecon.org/img/qe-og-logo.png" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="QuantEcon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

  <!-- Template Main CSS File -->
  <link href="/assets/main.css" rel="stylesheet">
  <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon" />
</head>

{% if page.layout == "home" %}

<body class="language-python home">
  {% else %}

  <body class="language-python internal">
    {% endif %}

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center justify-content-center">

        <!-- <h1 class="logo me-auto"><a href="index.html">Arsha</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="https://bootstrapmade.com/demo/templates/Arsha/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <a href="/" class="branding me-auto">
          <img src="/assets/img/qehills.png" class="logo img-fluid" alt="">
          <h2 class="title">Quant<span>Econ</span></h2>
        </a>

        <nav id="navbar" class="navbar">
          <ul class="nav">
            <li{% if page.layout=='home' %} class="active" {% endif %}><a href="{{ '/' | relative_url }}">Home</a></li>
            <li{% if page.layout=='lectures' %} class="active" {% endif %}><a href="/lectures/"><span>Lectures</span></a></li>
            <li{% if page.permalink=='/workshops/' %} class="active" {% endif %}><a href="/workshops/"><span>Workshops</span></a></li>
            <li class="dropdown"><a><span>Projects</span><i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/books">Books</a></li>
                <li><a href="/code">Code</a></li>
                <li><a href="/infrastructure">Infrastructure</a></li>
                <li><a href="https://cheatsheets.quantecon.org/">Cheatsheets</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="/about" title="About QuantEcon"><span>About</span><i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/store">Merch</a></li>
                <li><a href="https://numfocus.org/donate-to-quantecon" target="_blank">Donate</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
              </ul>
            </li>
            <li{% if page.layout=='news' %} class="active" {% endif %}><a href="/news/"><span>News</span></a></li>
            <li class="github-link"><a href="https://github.com/QuantEcon" target="_blank" title="GitHub"><i class="bi bi-github" style="font-size:30px;"></i></a></li>
            <!-- <li class="github-link"><a href="https://discourse.quantecon.org/" target="_blank" title="Discourse"><i class="bi bi-chat-text" style="font-size:30px;"></i></a></li> -->
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    {% if page.layout != "home" %}
    <main id="main">

      <section class="inner-page">
        <div class="container">
          {% endif %}

          {% assign post_limit = site.post_limit | default: 3 %}
          {{ content }}

          {% if page.layout != "home" %}
        </div>
      </section>

    </main><!-- End #main -->
    {% endif %}

    <!-- ======= Footer ======= -->
    <footer id="footer">

      <div class="footer-top">
        <div class="container px-4 px-md-0">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
              <h2 class="branding">Quant<span>Econ</span></h2>

              <p>QuantEcon is a nonprofit organization dedicated to development and documentation of open source
                computational tools for economics, econometrics, and decision making.</p>

              <br>

              <h3>Sponsors</h3>

              <ul class="footer-sponsors">

                <li><a href="https://numfocus.org/">
                  <img src="/assets/img/NumFocus_LRG.png" alt="" class="img-fluid">
                </a></li>

                <li><a href="https://psl-foundation.org">
                  <img src="/assets/img/PSLF_Logo.png" alt="" class="img-fluid" width="250px">
                </a></li>
              </ul>

          </div>

          <div class="col-lg-5 col-md-6 footer-articles">
            <h3>Latest News</h3>

            <ul>
              {% for post in site.posts limit:3 %}
              <li>
                {% assign date_format = site.minima.date_format | default: "%-d %b %Y" %}
                <h4><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
                <p class="date">{{ post.date | date: date_format }}</p>
                <p class="summ">{{ post.excerpt }}</p>
              </li>
              {% endfor %}
            </ul>
            <p><strong><a href="/news/">View all news</a></strong></p>
          </div>


          <div class="col-lg-3 col-md-6 offset-lg-1 footer-links">
            <h3>QuantEcon Links</h3>
            <ul>
              <li><a href="{{ '/' | relative_url }}">Home</a></li>
              {% for node in pages %}
              <li{% if page.url==node.url %} class="active" {% endif %}><a href="{{ node.url | relative_url }}">{{
                  node.title }}</a></li>
                {% endfor %}
                <li><a href="https://github.com/QuantEcon" target="_blank">GitHub</a></li>
                <li><a href="/store/">Merchandise Store</a></li>
                <li><a href="/positions/">Available Positions</a></li>
            </ul>
            <br>
            <h3>Social Links</h3>
            <div class="social-links mt-3">
              <a href="https://twitter.com/quantecon" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.linkedin.com/company/quantecon" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              <a href="https://github.com/QuantEcon" class="github"><i class="bx bxl-github"></i></a>
            </div>
          </div>


        </div>
      </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <span class="branding">QuantEcon</span></div>
        <div class="credits">
          Website by <a href="https://drdrij.com/">DrDrij</a>
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>

    <script src="/assets/js/main.js"></script>

    <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            // enable automatic line breaks (might look ugly)
            CommonHTML: { linebreaks: { automatic: true } },
            "HTML-CSS": { linebreaks: { automatic: true } },
            SVG: { linebreaks: { automatic: true } },
            // enable $ for inline math -> use \$ for ordinary dollar-sign
            tex2jax: {
              inlineMath: [['$','$'], ['\\(','\\)']],
              processEscapes: true
            },
          });
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  </body>

</html>