---
layout: default
---

<div class="blurb">
  {{ content }}
</div>

<div class="projects">
  <h2>Projects</h2>

  <ul>
    {% assign ordered_projects = site.projects | sort: "order" %} {% for project
    in ordered_projects %}
    <li>
      <a href="{{ project.link | relative_url }}">
        <div class="thumb">
          <img
            src="/assets/img/projects/{{project.image}}"
            alt=" "
            style="width:75px;"
          />
        </div>
        <h3>
          {{ project.name }}
        </h3>
        <div class="desc">{{ project.description | markdownify }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<hr />

<div class="sponsors">
  <h2>Sponsors</h2>

  <ul class="sponsor-list">
    <li>
      <a href="http://www.sloan.org/" title="Alfred P. Sloan Foundation"
        ><img
          src="/assets/img/alfred-p-sloan-logo.png"
          width="350"
          alt="Sponsored by the Alfred P. Sloan Foundation"
      /></a>
    </li>
    <li>
      <a href="https://schmidtfutures.com/">
        <img
          src="/assets/img/schmidtfutures-logo.png"
          alt="Schmidt Futures logo"
          width="400"
        />
      </a>
    </li>
  </ul>
</div>
