---
layout: default
---

{{ content }}

<ul id="projects-flters" class="projects-flters d-flex justify-content-start" data-aos="fade-up" data-aos-delay="100">
  <li data-topic="Introductory"  class="filter-active">Introductory</li>
  <li data-topic="Programming">Programming</li>
  <li data-topic="Topics">Topics</li>
  <li data-topic="Statistics">Statistics</li>
  <li data-topic="*">All</li>
</ul>

{% assign sorted_lectures = site.lectures | sort:"name" %}

<div class="container">

  <ul class="row projects projects-container">

    {% for lecture in sorted_lectures %}
    {% assign difficulty = lecture.difficulty %}
    {% assign topics = lecture.topic | split: ", " %}
    
    <li class="col-lg-4 projects-item {% for topic in topics %}{{ topic }} {% endfor %}"
    data-topic="{{ lecture.topic }}"
    data-difficulty="{{ lecture.difficulty }}"
    data-order="{{ lecture.order }}">
      <div class="project d-flex flex-column align-items-start">
        <div class="item-info d-flex">
          <div class="item-title">
            <h3 class="name"><a target="_blank" href="{{ lecture.link }}">{{ lecture.name }}</a></h3>
            <p class="item-badges">

              {% if lecture.difficulty %}
              {% if lecture.difficulty == 3 %}
              <span class="difficulty" title="Advanced"><i class="bi bi-diamond-fill" style="color: #000;"></i><i
                  class="bi bi-diamond-fill" style="color: #000;"></i></span>
              {% elsif lecture.difficulty == 2 %}
              <span class="difficulty" title="Intermediate"><i class="bi bi-square-fill"
                  style="color: #0164CC;"></i></span>
              {% else if lecture.difficulty == 1 %}
              <span class="difficulty" title="Introductory"><i class="bi bi-circle-fill"
                  style="color: #00ba00;"></i></span>
              {% endif %}
              {% endif %}

              <span class="language">{{ lecture.topic }} <small>({{ lecture.lang }})</small></span>

              {% if lecture.new %}
              <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">
                New
              </span>
              {% endif %}

              </span>
            </p>

            <div class="item-desc">
              {{ lecture.description | markdownify }}
            </div>
          </div>
        </div>
        <!-- </a> -->
    </li>
    {% endfor %}

  </ul>

</div>