---
layout: default
---

{{ content }}

<ul class="news-listing">
  {% for post in site.posts %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%-d %b %Y" %}
      <h2 class="title">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> 
        {% if post.tag %}
          {% for tag in post.tag %}
            <span class="badge">{{ tag }}</span>
          {% endfor %}
        {% endif %}
      </h2>
      <p class="date">{{ post.date | date: date_format }}</p>
      <div class="summary">{{ post.content }}</div>
    </li>
  {% endfor %}
</ul>
